@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');

*{
    margin: 0%;
    padding: 0%;
}
h1{
    font-family: 'Tilt Prism', cursive;
    font-size:50px;
    color:red;
}

.frame {
    position: absolute;
    width: 100vw;
    height: 100vh;
    border-radius: 2px;
    box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
    overflow: hidden;
    background:  lightgray;
    color: #333;
  }
  
  .center {
      top:50%;
      left:50%;
    position: absolute;
    display:flex;
      align-items:center;
      justify-content:center;
  }
    h1 {
      top:0%;
      left:20vw;
    position: absolute;
    display:flex;
      align-items:center;
      justify-content:center;
       animation-name:h1ColorChange;
       animation-duration:3s;
      animation-iteration-count:infinite;
  }
  .class{
      position:absolute;
      animation-duration:3s;
      animation-iteration-count:infinite;
  }
  #sq1{
      width:30vw;
      height:30vh;
      border:1px blue solid;
      animation-name:anim1;
  }
  
  @keyframes anim1{
      50%{
          transform:rotate(180deg);
          border-radius:30%;
          height:4vh;
      }
  }
  
  #sq2{
      width:30vw;
      height:30vh;
      border:1px red solid;
      animation-name:anim2;
  }
  
  @keyframes anim2{
      50%{
          transform:rotate(160deg);
          border-radius:30%;
          height:4vh
      }
  }
  
  #sq3{
      width:30vw;
      height:30vh;
      border:1px green solid;
      animation-name:anim3;
  }
  
  @keyframes anim3{
      50%{
          transform:rotate(140deg);
          border-radius:30%;
          height:4vh
      }
  }
  
  #sq4{
      width:30vw;
      height:30vh;
      border:1px white solid;
      animation-name:anim4;
  }
  
  @keyframes anim4{
      50%{
          transform:rotate(120deg);
          border-radius:30%;
          height:4vh;
      }
  }
  
  #sq4{
      width:30vw;
      height:30vh;
      border:1px black solid;
      animation-name:anim4;
  }
  
  @keyframes anim4{
      50%{
          transform:rotate(100deg);
          border-radius:30%;
          height:4vh;
      }
  }
  #sq5{
      width:30vw;
      height:30vh;
      border:1px white solid;
      animation-name:anim5;
  }
  
  @keyframes anim5{
      50%{
          transform:rotate(80deg);
          border-radius:30%;
          height:4vh;
      }
  }
  
  #sq6{
      width:30vw;
      height:30vh;
      border:1px yellow solid;
      animation-name:anim6;
  }
  
  @keyframes anim6{
      50%{
          transform:rotate(60deg);
          border-radius:30%;
          height:4vh;
      }
  }
  
  #sq7{
      width:30vw;
      height:30vh;
      border:1px white solid;
      animation-name:anim7;
  }
  
  @keyframes anim7{
      50%{
          transform:rotate(40deg);
          border-radius:30%;
          height:4vh;
      }
  }
  #sq8{
      width:50vw;
      height:50vh;
      border:1px black solid;
      animation-name:anim8;
  }
  
  @keyframes anim8{
      50%{
          transform:rotate(40deg);
          border-radius:30%;
          height:4vh;
      }
  }
  
  @keyframes h1ColorChange{
      10%{
          color:red;
          transform:scale(0.5)
      }
      20%{
          color:blue;
           transform:scale(0.75)
      }
      30%{
          color:green;
      }
      40%{
              transform:scale(1.25)
        color:yellow;
      }
      50%{
          transform:scale(1.75)
          color:pink;
      }
      60%{
           transform:scale(2)
          color:black;
          
      }
      70%{
            transform:scale(2.2)
          color:white;
      }
      80%{
           transform:scale(2.5)
          color:purple;
      }
      90%{
            transform:scale(3)
        
          color:brown;
      }
      100%{
            transform:scale(3.5)
          color:Aqua;
      }
  }
  
